:root {
    --primarycolor: #B85042; /* Terracotta red */
    --secondarycolor: #E7E8D1; /* light beige */
    --accentcolor: #A7BEAE; /* muted teal */
  }


body{
    padding: 0;
    margin: 0;
    background-color: var(--accentcolor);
}

section{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
}
section button{
    background-color: var(--secondarycolor);
    color: rgb(0, 0, 0);
    font-weight: bold;
    height: 50px;
    width: 80px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 50px;
grid-row-gap: 50px;
padding: 2rem 2rem;
}
.card{
    color: #353336;
    padding: 2rem 2rem;
    border-radius: 0.25rem;
    background-color: var(--secondarycolor);
    box-shadow: 0px 10px 48px -16px rgba(255, 255, 255, 0.25);
    border: 2px solid;
    display: flex;
    flex-flow: column;
    gap: 55px;
    align-items: center;
    height: 200px;
}

/*===================================*/






.svg_place{
    display: flex;
    width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.svg-place svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    fill: black;
  }





/*===================================*/


.btn_place button{
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
    font-weight: bold;
    height: 50px;
    width: 80px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn_place{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}




::-webkit-scrollbar-track
{
	background-color: var(--accentcolor);
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--accentcolor);
}

::-webkit-scrollbar-thumb
{
	background-color: var(--secondarycolor);
}